.snowflake {
  fill: white;
  position: fixed;
  opacity: .8;
  pointer-events: none;
  top: -7vh;
}
.fallAnimation {
  animation-name: flakefall;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes flakefall {
  from {
    top: -7vh
  }
  to {
    top: 100vh
  }
}